.app__laurels_awards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3rem;
}
.app__laurels_awards-card {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 230px;
    margin: 1rem;
}

/* @media screen and (min-width: 1900px) {
    .app__laurels_awards-card {
        max-width: 100%;
    }
} */
.app__logo-img {
  margin-bottom: 90rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.app__logo-img img {
    width: 100px;
    height: 100px;
}
.app__laurels_awards-card img {
    width: 50px;
    height: 50px;
}


.app__laurels_awards-card_content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}


@media screen and (max-width:1150px) {
  .app__wrapper-info {
    margin-top:-80rem;
    margin-bottom: 10rem ;
  }
  .app__wrapper-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
}




